.caixa{
    background: rgb(255,240,0);
    background: radial-gradient(circle, rgba(255,240,0,1) 34%, rgba(255,94,0,1) 50%);
}
.titulo{
    color: white !important;
    font-weight: bold !important; 
}
.botao{
    border-color: black !important;
    background-color: #3F51B5;
    color: white !important;
}
.postagens{
    background: rgb(255,240,0);
background: radial-gradient(circle, rgba(255,240,0,1) 34%, rgba(255,94,0,1) 50%);
}
.text-decorator-none{
    text-decoration: none;
}